process {
    withLabel: 'minimap2' {
        cpus = 1
        memory = '2.GB'
        time = '1hour'
    }
    withLabel: 'ultra' {
        cpus = 1
        memory = '2.GB'
        ultra_cpus = 1
        ultra_memory = '2.GB'
        samtools_cpus = 1
        samtools_memory = 1.GB
        time = '1hour'
    }
}
