**.DS_Store
**.pyc
.idea/
releases/*
playground/
playground/*
tmp/
.nextflow/
.nextflow.log*
.coverage
build/
dist/
src/nexus.egg-info/
test/__pycache__/
test/data/vcf/*manta_outputs/workspace/
docs/_site/
docs/.quarto/
docs/site_libs/
docs/subworkflows/*
docs/workflows/*
!docs/subworkflows/index.qmd
!docs/workflows/index.qmd