process {
    standard {
        process.executor = 'slurm'
        process.queue = 'allnodes'
        executor.queueSize = '95'
        executor.submitRateLimit = '10s'
        singularity.enabled = true
        singularity.cacheDir = "$PWD"
        nodes = 1
	}
}

process {
    withLabel: 'abra2' {
        container = 'ajslee/abra2:2.23'
        cpus = 48
        memory = '192.GB'
        time = '7days'
        java_max_mem = 192.GB
    }
    withLabel: 'arcashla' {
        container = 'ajslee/arcashla:0.6.0'
        cpus = 48
        memory = '192.GB'
        time = '3days'
    }
    withLabel: 'arriba' {
        container = 'ajslee/arriba:2.4.0'
        cpus = 8
        memory = '192.GB'
        time = '3days'
    }
    withLabel: 'bwamem2' {
        container = 'ajslee/bwamem2:2.2.1'
        cpus = 48
        memory = '192.GB'
        time = '7days'
    }
    withLabel: 'clairs' {
        container = 'hkubal/clairs:v0.3.0'
        cpus = 48
        memory = '192.GB'
        time = '7days'
    }
    withLabel: 'copy_bam_file' {
        cpus = 2
        memory = '16.GB'
        time = '1day'
    }
    withLabel: 'copy_vcf_file' {
        cpus = 2
        memory = '16.GB'
        time = '1day'
    }
    withLabel: 'cutesv' {
        container = 'ajslee/cutesv:2.1.1'
        cpus = 48
        memory = '192.GB'
        time = '7days'
    }
    withLabel: 'deepvariant' {
        cpus = 48
        memory = '192.GB'
        time = '7days'
    }
    withLabel: 'delly2' {
        container = 'ajslee/delly2:1.2.6'
        cpus = 48
        memory = '192.GB'
        time = '7days'
    }
    withLabel: 'fastqc' {
        container = 'ajslee/fastqc:0.12.1'
        cpus = 2
        memory = '16.GB'
        fastqc_memory = 16.GB
        time = '1days'
    }
    withLabel: 'flair' {
        container = 'ajslee/flair:2.0.0'
        cpus = 48
        memory = '192.GB'
        time = '3days'
    }
    withLabel: 'gatk4_applybqsr' {
        container = 'ajslee/gatk4:4.4.0.0'
        cpus = 4
        memory = '128.GB'
        time = '7days'
        java_max_mem = 128.GB
    }
    withLabel: 'gatk4_baserecalibrator' {
        container = 'ajslee/gatk4:4.4.0.0'
        cpus = 4
        memory = '32.GB'
        time = '7days'
        java_max_mem = 32.GB
    }
    withLabel: 'gatk4_calculatecontamination' {
        container = 'ajslee/gatk4:4.4.0.0'
        cpus = 4
        memory = '128.GB'
        time = '3days'
        java_max_mem = 128.GB
    }
    withLabel: 'gatk4_filtermutectcalls' {
        container = 'ajslee/gatk4:4.4.0.0'
        cpus = 4
        memory = '32.GB'
        time = '3days'
        java_max_mem = 32.GB
    }
    withLabel: 'gatk4_gatherbqsrreports' {
        container = 'ajslee/gatk4:4.4.0.0'
        cpus = 4
        memory = '128.GB'
        time = '7days'
        java_max_mem = 128.GB
    }
    withLabel: 'gatk4_getpileupsummaries' {
        container = 'ajslee/gatk4:4.4.0.0'
        cpus = 4
        memory = '128.GB'
        time = '7days'
        java_max_mem = 128.GB
    }
    withLabel: 'gatk4_learnreadorientationmodel' {
        container = 'ajslee/gatk4:4.4.0.0'
        cpus = 4
        memory = '32.GB'
        time = '3days'
        java_max_mem = 32.GB
    }
    withLabel: 'gatk4_mutect2' {
        container = 'ajslee/gatk4:4.4.0.0'
        cpus = 6
        memory = '24.GB'
        time = '7days'
        java_max_mem = 24.GB
        hmm_threads = 4
    }
    withLabel: 'gridss' {
        container = 'ajslee/gridss:2.13.2'
        cpus = 48
        memory = '192.GB'
        time = '7days'
    }
    withLabel: 'hiphase' {
        container = 'ajslee/hiphase:1.4.0'
        cpus = 48
        memory = '192.GB'
        time = '3days'
    }
    withLabel: 'hlaprofiler' {
        container = 'ajslee/hlaprofiler:1.0.5'
        cpus = 48
        memory = '192.GB'
        time = '3days'
    }
    withLabel: 'isoquant' {
        container = 'ajslee/isoquant:3.3.1'
        cpus = 48
        memory = '192.GB'
        time = '7days'
    }
    withLabel: 'isoseq_cluster' {
        container = 'ajslee/isoseq:4.0.0'
        cpus = 32
        memory = '128.GB'
        time = '3days'
    }
    withLabel: 'lumpy' {
        container = 'ajslee/lumpy:0.3.1'
        cpus = 48
        memory = '192.GB'
        time = '7days'
        samtools_cpus = 48
        samtools_memory = 1.GB
    }
    withLabel: 'minimap2' {
        container = 'ajslee/minimap2:2.22'
        cpus = 48
        memory = '192.GB'
        time = '7days'
    }
    withLabel: 'pbsv' {
        container = 'ajslee/pbsv:2.9.0'
        cpus = 48
        memory = '192.GB'
        time = '3days'
    }
    withLabel: 'picard_fastqtosam' {
        container = 'ajslee/picard:3.1.1'
        cpus = 4
        memory = '64.GB'
        time = '3days'
        java_max_mem = 64.GB
    }
    withLabel: 'picard_mergevcfs' {
        container = 'ajslee/picard:3.1.1'
        cpus = 4
        memory = '128.GB'
        time = '3days'
        java_max_mem = 128.GB
    }
    withLabel: 'manta' {
        container = 'ajslee/manta:1.6.0'
        cpus = 48
        memory = '192.GB'
        time = '7days'
    }
    withLabel: 'ratatosk' {
        container = 'ajslee/ratatosk:0.9.0'
        cpus = 48
        memory = '192.GB'
        time = '21days'
    }
    withLabel: 'rnabloom2' {
        container = 'ajslee/rnabloom2:2.0.1'
        cpus = 48
        memory = '192.GB'
        time = '7days'
        java_max_mem = 192.GB
    }
    withLabel: 'salmon' {
        container = 'ajslee/salmon:1.10.3'
        cpus = 48
        memory = '192.GB'
        time = '3days'
    }
    withLabel: 'samtools_calmd' {
        container = 'ajslee/samtools:1.18'
        cpus = 48
        memory = '192.GB'
        time = '3days'
    }
    withLabel: 'samtools_coverage' {
        container = 'ajslee/samtools:1.18'
        cpus = 4
        memory = '32.GB'
        time = '3days'
    }
    withLabel: 'samtools_fixmate' {
        container = 'ajslee/samtools:1.18'
        cpus = 48
        memory = '64.GB'
        time = '7days'
        samtools_memory = 1.GB
    }
    withLabel: 'samtools_index' {
        container = 'ajslee/samtools:1.18'
        cpus = 4
        memory = '64.GB'
        time = '3days'
    }
    withLabel: 'samtools_markdup' {
        container = 'ajslee/samtools:1.18'
        cpus = 32
        memory = '64.GB'
        time = '7days'
        samtools_memory = 1.GB
    }
    withLabel: 'samtools_samtobam' {
        container = 'ajslee/samtools:1.18'
        cpus = 32
        memory = '64.GB'
        time = '3days'
        samtools_memory = 1.GB
    }
    withLabel: 'samtools_sort' {
        container = 'ajslee/samtools:1.18'
        cpus = 32
        memory = '64.GB'
        time = '3days'
        samtools_memory = 1.GB
    }
    withLabel: 'savana' {
        container = 'ajslee/savana:1.0.5'
        cpus = 48
        memory = '192.GB'
        time = '7days'
    }
    withLabel: 'seq2hla' {
        container = 'ajslee/seq2hla:2.3'
        cpus = 48
        memory = '192.GB'
        time = '3days'
    }
    withLabel: 'sequenza' {
        container = 'ajslee/sequenza:3.0.0'
        cpus = 48
        memory = '192.GB'
        time = '7days'
    }
    withLabel: 'severus' {
        container = 'ajslee/severus:1.1'
        cpus = 48
        memory = '192.GB'
        time = '7days'
    }
    withLabel: 'sniffles2' {
        container = 'ajslee/sniffles2:2.3.3'
        cpus = 48
        memory = '192.GB'
        time = '7days'
    }
    withLabel: 'star' {
        container = 'ajslee/star:2.7.11b'
        cpus = 48
        memory = '192.GB'
        time = '7days'
    }
    withLabel: 'strelka2' {
        container = 'ajslee/strelka2:2.9.10'
        cpus = 48
        memory = '192.GB'
        time = '7days'
    }
    withLabel: 'stringtie2' {
        container = 'ajslee/stringtie2:2.2.2'
        cpus = 48
        memory = '192.GB'
        time = '7days'
    }
    withLabel: 'svaba' {
        container = 'ajslee/svaba:1.2.0'
        cpus = 48
        memory = '192.GB'
        time = '14days'
    }
    withLabel: 'svim' {
        container = 'ajslee/svim:2.0.0'
        cpus = 48
        memory = '192.GB'
        time = '7days'
    }
    withLabel: 'svisionpro' {
        container = 'ajslee/svisionpro:1.8'
        cpus = 48
        memory = '192.GB'
        time = '7days'
    }
    withLabel: 'ultra' {
        container = 'ajslee/ultra:0.1'
        cpus = 48
        memory = '192.GB'
        samtools_memory = 1.GB
        time = '7days'
    }
    withLabel: 'whatshap' {
        container = 'ajslee/whatshap:2.3.0'
        cpus = 48
        memory = '192.GB'
        time = '7days'
    }
}