process {
	standard {
		process.executor = 'slurm'
		process.queue = 'allnodes'
		executor.queueSize = '95'
		executor.submitRateLimit = '30s'
		singularity.enabled = true
	    singularity.cacheDir = "$PWD"
		nodes = 1
	}
}

includeConfig 'modules/abra2.config'
includeConfig 'modules/arcashla.config'
includeConfig 'modules/bwa.config'
includeConfig 'modules/cutesv.config'
includeConfig 'modules/deepvariant.config'
includeConfig 'modules/delly2.config'
includeConfig 'modules/desalt.config'
includeConfig 'modules/exacto.config'
includeConfig 'modules/gatk4.config'
includeConfig 'modules/lumpy.config'
includeConfig 'modules/minimap2.config'
includeConfig 'modules/pbsv.config'
includeConfig 'modules/picard.config'
includeConfig 'modules/ratatosk.config'
includeConfig 'modules/savana.config'
includeConfig 'modules/salmon.config'
includeConfig 'modules/samtools.config'
includeConfig 'modules/sniffles2.config'
includeConfig 'modules/star.config'
includeConfig 'modules/strelka2.config'
includeConfig 'modules/svim.config'
includeConfig 'modules/ultra.config'
includeConfig 'modules/utils.config'
