process {
    withLabel: 'exacto_convert' {
        cpus = 2
        memory = '32.GB'
        time = '1days'
    }
    withLabel: 'exacto_refine' {
        cpus = 32
        memory = '128.GB'
        time = '1days'
    }
    withLabel: 'exacto_annotate' {
        cpus = 1
        memory = '32.GB'
        time = '1days'
    }
    withLabel: 'exacto_merge_variants' {
        cpus = 1
        memory = '32.GB'
        time = '1days'
    }
    withLabel: 'exacto_merge_annotations' {
        cpus = 1
        memory = '32.GB'
        time = '1days'
    }
}