process {
    withLabel: 'gatk4_base_recalibrator' {
        cpus = 1
        memory = '32.GB'
        time = '7days'
    }
    withLabel: 'gatk4_gather_bqsr_reports' {
        cpus = 1
        memory = '192.GB'
        time = '7days'
    }
    withLabel: 'gatk4_apply_bqsr' {
        cpus = 1
        memory = '192.GB'
        time = '7days'
    }
    withLabel: 'gatk4_mutect2' {
        cpus = 6
        memory = '24.GB'
        time = '3days'
        java_max_mem = '16G'
        hmm_threads = 4
    }
    withLabel: 'gatk4_learn_read_orientation_model' {
        cpus = 2
        memory = '16.GB'
        time = '1days'
    }
    withLabel: 'gatk4_get_pileup_summaries' {
        cpus = 1
        memory = '192.GB'
        time = '3days'
    }
    withLabel: 'gatk4_calculate_contamination' {
        cpus = 1
        memory = '192.GB'
        time = '2days'
    }
    withLabel: 'gatk4_filter_mutect_calls' {
        cpus = 2
        memory = '32.GB'
        time = '1days'
        java_max_mem = '24G'
    }
}