process {
	standard {
		process.executor = 'slurm'
		process.queue = 'allnodes'
		executor.queueSize = '95'
		executor.submitRateLimit = '30s'
		singularity.enabled = true
	    singularity.cacheDir = "$PWD"
		nodes = 1
	}
}

process {
    withLabel: 'minimap2' {
        cpus = 32
        memory = '192.GB'
        time = '24hours'
    }
    withLabel: 'ultra' {
        cpus = 32
        memory = '192.GB'
        ultra_cpus = 32
        ultra_memory = '192.GB'
        samtools_cpus = 8
        samtools_memory = '32.GB'
        time = '24hours'
    }
    withLabel: 'sniffles2' {
        cpus = 32
        memory = '192.GB'
        time = '24hours'
    }
    withLabel: 'pbsv' {
        cpus = 32
        memory = '192.GB'
        time = '24hours'
    }
    withLabel: 'svim' {
        cpus = 32
        memory = '192.GB'
        time = '24hours'
    }
    withLabel: 'cutesv' {
        cpus = 32
        memory = '192.GB'
        time = '24hours'
    }
    withLabel: 'savana' {
        cpus = 32
        memory = '192.GB'
        time = '24hours'
    }
}