process {
	standard {
		process.executor = 'slurm'
		process.queue = 'allnodes'
		executor.queueSize = '95'
		executor.submitRateLimit = '30s'
		singularity.enabled = true
	    singularity.cacheDir = "$PWD"
		nodes = 1
	}
}

process {
    withLabel: 'abra2' {
        cpus = 64
        memory = '256.GB'
        time = '7days'
        java_max_mem = 256.GB
    }
    withLabel: 'bwa_mem2' {
        cpus = 64
        memory = '256.GB'
        time = '7days'
    }
    withLabel: 'copy_bam_file' {
        cpus = 2
        memory = '16.GB'
        time = '1day'
    }
    withLabel: 'copy_vcf_file' {
        cpus = 2
        memory = '16.GB'
        time = '1day'
    }
    withLabel: 'cutesv' {
        cpus = 48
        memory = '192.GB'
        time = '7days'
    }
    withLabel: 'deepvariant' {
        cpus = 48
        memory = '192.GB'
        time = '7days'
    }
    withLabel: 'gatk4_base_recalibrator' {
        cpus = 4
        memory = '32.GB'
        time = '7days'
    }
    withLabel: 'gatk4_gather_bqsr_reports' {
        cpus = 4
        memory = '192.GB'
        time = '7days'
        java_max_mem = 128.GB
    }
    withLabel: 'gatk4_apply_bqsr' {
        cpus = 4
        memory = '192.GB'
        time = '7days'
        java_max_mem = 128.GB
    }
    withLabel: 'gatk4_mutect2' {
        cpus = 6
        memory = '24.GB'
        time = '7days'
        java_max_mem = 24.GB
        hmm_threads = 4
    }
    withLabel: 'gatk4_learn_read_orientation_model' {
        cpus = 4
        memory = '32.GB'
        time = '3days'
        java_max_mem = 32.GB
    }
    withLabel: 'gatk4_get_pileup_summaries' {
        cpus = 4
        memory = '192.GB'
        time = '7days'
        java_max_mem = 128.GB
    }
    withLabel: 'gatk4_calculate_contamination' {
        cpus = 4
        memory = '192.GB'
        time = '3days'
        java_max_mem = 128.GB
    }
    withLabel: 'gatk4_filter_mutect_calls' {
        cpus = 4
        memory = '32.GB'
        time = '3days'
        java_max_mem = 32.GB
    }
    withLabel: 'minimap2' {
        cpus = 64
        memory = '256.GB'
        time = '7days'
    }
    withLabel: 'pbsv' {
        cpus = 48
        memory = '192.GB'
        time = '3days'
    }
    withLabel: 'picard_mergevcfs' {
        cpus = 4
        memory = '192.GB'
        time = '3days'
        java_max_mem = 64.GB
    }
    withLabel: 'sniffles2' {
        cpus = 48
        memory = '192.GB'
        time = '7days'
    }
    withLabel: 'svim' {
        cpus = 48
        memory = '192.GB'
        time = '7days'
    }
    withLabel: 'ultra' {
        cpus = 48
        memory = '192.GB'
        ultra_cpus = 48
        ultra_memory = '192.GB'
        samtools_cpus = 48
        samtools_memory = '192.GB'
        time = '7days'
    }
}