process {
    withLabel: 'samtools_calmd' {
        cpus = 48
        memory = '192.GB'
        time = '3days'
    }
    withLabel: 'samtools_sort' {
        cpus = 32
        memory = '128.GB'
        time = '3days'
    }
    withLabel: 'samtools_index' {
        cpus = 4
        memory = '64.GB'
        time = '2days'
    }
    withLabel: 'samtools_markdup' {
        cpus = 48
        memory = '192.GB'
        time = '7days'
    }
    withLabel: 'samtools_fixmate' {
        cpus = 48
        memory = '192.GB'
        time = '7days'
    }
}